/Hotel WebAPI
/Hotel.API/App_Data
/Hotel.API/Areas
/Hotel.API/bin
/Hotel.API/Content
/Hotel.API/fonts
/Hotel.API/obj
/Hotel.API/Scripts
/Hotel.API/Properties
/Hotel.API/Views
/Hotel.API/favicon.ico
/Hotel.API/Web.Debug.config
/Hotel.API/Web.Release.config
/Hotel.BLL/bin
/Hotel.BLL/obj
/Hotel.BLL/Properties
/Hotel.DAL/bin
/Hotel.DAL/obj
/Hotel.DAL/Properties
/Hotel.WEB/App_Data
/Hotel.WEB/bin
/Hotel.WEB/Content
/Hotel.WEB/fonts
/Hotel.WEB/obj
/Hotel.WEB/Properties
/Hotel.WEB/favicon.ico
/Hotel.WEB/Web.Debug.config
/Hotel.WEB/Web.Release.config
/.vs/Hotel/FileContentIndex/