
@{
    ViewBag.Title = "GetProfitForMonth";
}

<h2>GetProfitOnMonth</h2>

@using (Html.BeginForm("GetProfitForMonth", "Booking", FormMethod.Post))
{
    <p>Please, enter date with month that you want to get profit</p>

    @Html.TextBox("date", "2021-03")
   
    <br />
    <p><input type="submit" value="Submit" class="btn btn-primary" /></p>
}

