@model Hotel.WEB.Models.ProfitModel
<br />

<h3>Profit on @Model.Year/@Model.Month is @Model.Profit_For_Month $</h3>

@Html.ActionLink("Back to bookings", "Index")<br />
@Html.ActionLink("Return", "GetProfitForMonth")